/*!
* styles
* Copyright 2013, 2014 Autoridad del Canal de Panama
* http://www.pancanal.com
*
*/
/* Standard 960 or larger (browsers) */
@media only screen and (min-width: 960px) {
	.ui-content #myimage  a{
    background: url("images/denegado960.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height:599px;
	width:900px;	
    margin-left: auto;
    margin-right: auto;	
	padding:0;
}

}
/* ---------------------------------------------------------------------- */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	.ui-content #myimage  a{
    background: url("images/denegado600.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height:399px;
	width:600px;	
    margin-left: auto;
    margin-right: auto;	
	padding:0;
}

}

/* ---------------------------------------------------------------------- */
/* Smaller than standard 650 (devices and browsers) */
@media only screen and (max-width: 650px) {
	.ui-content #myimage  a{
    background: url("images/denegado480.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height:320px;
	width:480px;	
    margin-left: auto;
    margin-right: auto;	
	padding:0;
}

}

/* ---------------------------------------------------------------------- */
/* Smaller than standard 520 (devices and browsers) */
@media only screen and (max-width: 520px) {
.ui-content #myimage  a{
    background: url("images/denegado.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height:213px;
	width:320px;	
    margin-left: auto;
    margin-right: auto;	
	padding:0;
}
}

}
.ui-content #myimage {
	width:100%;
	padding:0;
	margin:0;
}
.header-cnt #logo a {
    background: url("images/loginacplogo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 64px;
	width:240px;
    margin-left: auto;
    margin-right: auto;	
	padding:0;
}

.header-cnt #logo {
	width:100%;
	padding:0;
	margin:0;
}
.header-cnt {
	width:100%;
	padding:0;
}
#loginentrar {
    margin-left: auto;
    margin-right: auto;	
	width:250px;
}
#labelnombreusuario{
	width:150px;
}
#textnombreusuario{
	/*width:150px;*/
}
#contrasena{
	/*width:150px;*/
	padding:0;
}
#labelcontrasena{
	width:150px;
	padding:0;
}

